---
import { Image } from "astro:assets";
import warehouseBgImg from "@assets/frnh/1119942995_1234150482_1934581389_副本.png";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="relative py-32 overflow-hidden">
  <!-- Content -->
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
    <div class="max-w-4xl mx-auto text-center text-white z-10">
       
      <h2 class="text-4xl md:text-5xl lg:text-6xl font-bold leading-tight mb-6 ">
        {t('complete.certification')}
        <span class="text-transparent bg-clip-text bg-linear-to-r from-blue-500 to-teal-100">
           {t('common.qualifications')}
          </span>
      </h2>
    
      <div class="flex flex-col sm:flex-row gap-6 justify-center mb-6">
        <span
          
          class="inline-flex items-center justify-center px-8 py-4 text-2xl font-semibold text-blue-900 text-white hover:bg-slate-100  hover:shadow-3xl transition-all group"
        >
          {t('physical.manufacturer')}
          
       
        </span>
        <span
          
          class="inline-flex items-center justify-center px-8 py-4 text-2xl font-semibold text-white hover:bg-white/10  hover:shadow-3xl transition-all group"
        >
          {t('high.quality.products')}
        
        </span>
      </div>
    </div>
    <div class="mt-0 md:-mt-32 relative z-10"> 
    <Image
      src={warehouseBgImg}
      alt="Modern warehouse operations"
      class="w-full h-full object-cover"
      width={2070}
      height={1380}
    />
    </div>
  </div>
  <!-- Background Image -->
  <!-- <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-10">

    
  </div> -->
  <div class="absolute inset-0 bg-linear-to-r from-blue-900/75 to-teal-900/95">
  </div>
</section>
